@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$primary-color: hsla(220, 58%, 31%, 1);
$secondary-color: hsla(180, 60%, 51%, 1);
$primary-color-medium: hsla(224, 20%, 41%, 1);
$primary-color-lighter: hsla(220, 58%, 31%, 0.1);
$primary-bg: hsla(220, 58%, 31%, 0.06);
$primary-color-light: hsla(224, 20%, 41%, 0.15);
$grey-color-light: hsla(0, 0%, 100%, 1);
$danger-color: hsla(345, 97%, 45%, 1);
$danger-color-light: hsla(345, 97%, 45%, 0.05);
$warning-color: hsla(46, 100%, 46%, 1);
$warning-color-light: hsla(46, 100%, 46%, 0.05);
$success-color: hsla(137, 60%, 51%, 1);
$success-color-light: hsla(137, 60%, 51%, 0.05);
$box-shadow: 0 5px 20px
  rgba(
    $color: #000000,
    $alpha: 0.04,
  );

//FONt SIZE
$title-large: 2.5rem;
$title-medium: 1.5rem;
$title-small: 1.375rem;
$body1: 1rem;
$body2: 0.875rem;
$body3: 0.75rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Montserrat", cursive;
}

button {
  background-color: $secondary-color;
  color: white;
  outline: none;
  border: none;
}

.mainContainer {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 3rem;
}

.box {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $grey-color-light;

    img {
      width: 100%;
    }
  }

  .right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-inline: 4rem;
    margin: 0 auto;

    h1 {
      font-size: $title-large;
      padding-bottom: 1rem;
      color: $primary-color;
    }

    span {
      font-size: $body1;
      color: $primary-color-medium;
    }

    .form-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;

      .header {
        height: auto;
        width: 100%;
      }

      .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding-top: 4rem;

        .form-group {
          position: relative;
          width: 100%;

          input {
            width: 100%;
            padding-block: 1rem;
            padding-inline: 1rem;
            font-size: $body2;
            outline: none;
            border: 2px solid $primary-color-light;
            border-radius: 0.3rem;
            color: $primary-color-medium;
          }

          span {
            position: absolute;
            top: 20%;
            right: 20px;
            font-size: $body3;
            color: $secondary-color;
            font-weight: 600;
            letter-spacing: 2px;
          }

          p {
            color: $secondary-color;
            font-size: $body3;
            padding-top: 1.5rem;
            font-weight: 600;
            letter-spacing: 2px;
          }
        }
        button {
          width: 100%;
          padding-block: 1rem;
          font-size: $body2;
          font-weight: 600;
          letter-spacing: 2px;
          outline: none;
          border-radius: 0.3rem;
          color: $grey-color-light;
          padding-inline: 1rem;
          margin-top: 1.5rem;
          cursor: pointer;
        }
      }
    }
  }
}

.mainDashboard {
}

.dashboard {
  width: 100%;
  height: auto;
}
.nav {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  box-shadow: $box-shadow;
  z-index: 900;
  // background-color: aqua;

  .leftNav {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo{
      cursor: pointer;
    }

    .searchBox {
      width: 60%;
      display: flex;
      align-items: center;
      background-color: $grey-color-light;
      border: 1px solid $primary-color-light;
      border-radius: 0.5rem;

      input {
        width: 100%;
        border: none;
        padding: 0.8rem 1rem;
        background-color: $grey-color-light;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        outline: none;
        font-size: $body2;
      }

      span {
        padding: 0.8rem 1.5rem;
        background-color: $secondary-color;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }
    }
  }

  .rightNav {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3rem;
    margin-right: 2rem;

    .profile {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      .avatar {
        display: flex;
        align-items: center;
        gap: 1rem;

        p {
          display: flex;
          align-items: center;
          font-size: $body1;
          cursor: pointer;
        }

        span {
          margin-left: 0.5rem;
        }
      }
    }
    .docs:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    
  }
}

.main {
  width: 100%;
  height: auto;
  display: flex;
}

.aside {
  padding-inline: 1rem;
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $body1;
  box-shadow: $box-shadow;

  .asideMenu {
    display: flex;
    height: auto;
    align-items: center;
    gap: 1rem;
    padding-block: 1rem;
    width: 100%;
    font-size: $body1;
    color: $primary-color;
  }
  .primaryItem {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
  }
  .secondaryItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;

    span {
      font-size: $body3;
      font-weight: 500;
      color: $primary-color-medium;
    }
  }
}

.userData {
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .title {
    width: 100%;
    font-size: $title-medium;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .title-boxes {
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    .title-box {
      padding-left: 2rem;
      padding-top: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      height: 160px;
      font-size: $body2;
      font-weight: 500;
      border: 1px solid $primary-color-lighter;
      border-radius: 0.5rem;
      box-shadow: $box-shadow;
      background-color: $grey-color-light;

      .fig {
        font-size: $title-medium;
        font-weight: 700;
      }
    }

    img {
      width: 40px;
      height: 40px;
    }
  }

  .dataBox {
    border: 1px solid $primary-bg;
    border-radius: 0.5rem;
    background-color: $grey-color-light;
    box-shadow: $box-shadow;
    padding: 2rem;

    .users-headers {
      display: flex;
      justify-content: space-between;
      align-items: start;
      padding-block: 1rem;
      width: 100%;
    }

    .invincible {
      background-color: #000000;
      width: 5%;
      visibility: hidden;
    }

    .users-headers-box p {
      display: flex;
      gap: 0.5rem;
      font-size: $body2;
      font-weight: 500;

      color: $primary-color-medium;
    }

    .data {
      display: flex;
      gap: 0.5rem;
      padding-block: 1rem;
      border-bottom: 1px solid $primary-color-lighter;
    }

    .num,
    .date {
      width: 15%;
    }

    .org,
    .usr,
    .status {
      width: 12%;
    }

    .menu-icon {
      text-align: center;
    }
    .status_all {
      padding: 1rem 0rem;
      border-radius: 2rem;
    }

    .email {
      width: 25%;
    }

    .status-active {
      color: $success-color;
      background-color: $success-color-light;
      text-align: center;
    }

    .status-inactive {
      color: $primary-color-medium;
      background-color: rgba(84, 95, 125, 0.061);
      text-align: center;
    }

    .status-pending {
      color: $warning-color;
      text-align: center;
      background-color: $warning-color-light;
      text-align: center;
    }
    .status-blacklisted {
      color: $danger-color;

      background-color: $danger-color-light;
      text-align: center;
    }
  }
}

.userDetails {
  .main-details {
    display: flex;

    .details-container {
      margin-top: 3rem;
      margin-left: 3rem;
      width: 100%;

      .backIcon {
        display: flex;
        gap: 1rem;
      }

      .detailsHeader {
        width: 100%;
        display: flex;
        align-items: center;
        margin-block: 1.5rem;
        justify-content: space-between;

        p {
          font-size: $title-medium;
        }

        .ctaBtn {
          display: flex;
          align-items: center;
          gap: 1rem;

          button {
            background-color: transparent;
            padding: 1rem 1.5rem;
            border-radius: 0.5rem;
            font-size: $body2;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 1px;
          }
          .blacklist {
            border: 1px solid $danger-color;
            color: $danger-color;
          }

          .activate {
            border: 1px solid $secondary-color;
            color: $secondary-color;
          }
        }
      }
      .profileHeader {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 4rem;
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        background-color: $grey-color-light;
        box-shadow: $box-shadow;

        .top {
          display: flex;
          align-items: center;
          gap: 3rem;

          .profileImg {
            display: flex;
            align-items: center;
            gap: 1.5rem;

            .profileName {
              display: flex;
              flex-direction: column;
              gap: 0.5rem;

              font-size: $body2;

              :first-child {
                font-size: $title-small;
                text-transform: capitalize;
                font-weight: 500;
              }
            }
          }

          .profileStar {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            border-inline: 1px solid $primary-color-lighter;
            padding-inline: 3rem;
            padding-block: 1rem;

            font-size: $body3;
            font-weight: 500;
          }

          .profileAccount {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            p {
              font-size: $title-small;
              font-weight: 500;
            }

            .accountDetails {
              display: flex;
              p {
                font-size: $body3;
                font-weight: 500;
              }
            }
          }
        }

        .bottom {
          width: 100%;
          height: auto;
          display: flex;
          align-items: center;
          justify-content: space-between;

          p {
            padding-inline: 2rem;
            padding-bottom: 0.8rem;
            border-bottom: 2px solid transparent;
            cursor: pointer;
          }
          :hover {
            color: $secondary-color;
            border-bottom: 2px solid $secondary-color;
            font-weight: 500;
          }
        }
      }

      .profileInfo {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        gap: 2rem;

        .personalInfo {
          width: 100%;
          display: flex;
          flex-direction: column;
          border-bottom: 1px solid $primary-color-lighter;
          padding-bottom: 2rem;
          gap: 2rem;

          .personalInfoHeader {
            font-weight: 500;
            color: $primary-color-medium;
          }

          .personalInfoBox {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .personalInfoBox1 {
              width: 100%;
              display: flex;
              align-items: center;
              gap: 8rem;

              .info {
                width: 10%;
                display: flex;
                align-items: start;
                flex-direction: column;
                gap: 0.5rem;

                .title {
                  color: $primary-color-medium;
                  text-transform: uppercase;
                  font-size: $body3;
                }

                :last-child {
                  font-weight: 500;
                  color: $primary-color-medium;
                }
              }
              .email {
                width: 12%;
              }
            }
          }
        }
      }
    }
  }
}

.filters {
  position: absolute;
  border: 1px solid hsla(224, 20%, 41%, 0.14);
  background-color: $grey-color-light;
  padding: 1rem 1rem;
  width: 20%;
  border-radius: 0.5rem;
  z-index: 99;

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;

    .form-group {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      input,
      select {
        padding: 0.8rem;
        border-radius: 0.5rem;
        border: 1px solid hsla(220, 58%, 31%, 0.2);

        outline: none;
        font-size: $body2;
        color: $primary-color-medium;
      }

      .date-input {
        display: flex;
        align-items: center;
        gap: 2rem;
        background-color: #fff;
        width: 100%;
        border-radius: 0.5rem;
        border: 1px solid hsla(220, 58%, 31%, 0.2);
        padding-right: 0.8rem;

        input {
          width: 100%;
          border: none;
        }
      }
    }

    .btn {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 0.5rem;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      button {
        padding: 0.8rem 1.5rem;
        width: 100%;
        border-radius: 0.5rem;
        cursor: pointer;
        font-weight: 600;
      }
      .reset {
        background-color: $grey-color-light;
        color: $primary-color-medium;
        border: 1px solid $primary-color-medium;
      }
    }
  }
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 0rem;

  .pagination {
    display: flex;
    gap: 0.8rem;
    list-style: none;

    ul {
      display: flex;
      list-style-type: none;
      padding: 0 0rem;
    }
  }

  ul.pagination li a {
    color: $primary-color-medium;
    cursor: pointer;
  }

  ul.pagination li.previous a,
  ul.pagination li.next a {
    color: $primary-color;
    background-color: $primary-color-lighter;
    padding: 0.1rem 0.4rem;
    border-radius: 0.3rem;
    font-weight: 500;
  }

  ul.pagination li.selected a {
    border-color: transparent;
    color: $primary-color;
    min-width: 32px;
  }

  ul.pagination li.disabled a {
    color: $primary-color-light;
  }

  ul.pagination li.disable,
  ul.pagination li.disabled a {
    cursor: default;
  }

  .select-box {
    display: flex;
    padding-inline: 1rem;
    align-items: center;
  }

  .select {
    margin-inline: 0.5rem;
    width: 50px;
    display: flex;
    justify-content: center;
    background-color: $primary-color-light;
    border-radius: 0.2rem;
    border: none;
    padding-block: 0.3rem;

    select {
      border: none;
      background-color: transparent;
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;

    .box {
      .right {
        padding-inline: 1rem;
      }
    }
  }

  .userData {
    padding: 1rem;

    .title-boxes {
      grid-template-columns: repeat(2, 1fr);
    }

    .data {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
    }

    .email,
    .date,
    .usr {
      display: none;
    }
  }

  .asideMenu {
    p {
      display: none;
    }
  }

  .secondaryItem {
    span {
      display: none;
    }
  }
  .userData {
    .dataBox {
      .data,
      .users-headers {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media (max-width: 480px) {
  .mainContainer {
    background-color: #000000;
  }

  .box {
    .right {
      padding-inline: 1rem;
      width: 100%;
    }
    .left {
      display: none;
    }
  }
  .userData {
    .dataBox {
      padding-inline: 0.5rem;
    }
    .title-boxes {
      grid-template-columns: repeat(1, 1fr);
    }

    .num {
      display: none;
    }
  }
  .pagination-container {
    .select-box {
      display: none;
    }
  }
}
